@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: 'Poppins', sans-serif;
  }
  nav{
    background: #0B2447;
    height: 80px;
    width: 100%;
    box-shadow: 1px 1px 1px black;
    position: fixed;
  }
  label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
  }
  a.active,a:hover{
    border-bottom: 1px solid #fff;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 18px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
      color: #FFFF00;
    }
    ul{
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      width: 100%;
      height: calc(var(--vh, 1vh) * 90);
      background: rgba(0, 0, 0, 0.9);
      backdrop-filter: blur(4px);
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 40px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 27px;
    }
    a:hover{
      background: none;
    }
    #check:checked ~ ul{
      left: 0;
    }
    label.logo{
      display: block;
    }
  }